/* PLASTIC CSS SETTINGS */

/* Colors */
:root {
  --accent: var(--tangerine);
  --accent-brightest: var(--tangerine-brightest);
  --accent-brighter: var(--tangerine-brighter);
  --accent-bright: var(--tangerine-bright);
  --accent-dark: var(--tangerine-dark);
  --accent-darker: var(--tangerine-darker);
  --accent-darkest: var(--tangerine-darkest);
}

/* Animations */
:root {
  --cubic-bezier: cubic-bezier(.24,.26,.2,1);
}