@keyframes fadeIn {
  from {filter: opacity(0%);}
  to {filter: opacity(75%);}
}

@keyframes fadeOut {
  from {filter: opacity(75%);}
  to {filter: opacity(0);}
}

.plasticDarkener {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222222;
  filter: opacity(75%);
  animation-name: 'fadeIn';
  animation-duration: 0.25s;
  animation-timing-function: var(--cubic-bezier);
  -webkit-animation-name: 'fadeIn';
  -webkit-animation-duration: 0.25s;
  -webkit-animation-timing-function: var(--cubic-bezier);
}

.plasticDarkenerTempRemove {
  animation-name: 'fadeOut';
  animation-duration: 0.25s;
  animation-timing-function: var(--cubic-bezier);
  -webkit-animation-name: 'fadeOut';
  -webkit-animation-duration: 0.25s;
  -webkit-animation-timing-function: var(--cubic-bezier);
}