/* PLASTIC CSS SETTINGS */

/* Colors */
:root {
  --accent: var(--dreamsicle);
  --accent-brightest: var(--dreamsicle-brightest);
  --accent-brighter: var(--dreamsicle-brighter);
  --accent-bright: var(--dreamsicle-bright);
  --accent-dark: var(--dreamsicle-dark);
  --accent-darker: var(--dreamsicle-darker);
  --accent-darkest: var(--dreamsicle-darkest);
}

/* Animations */
:root {
  --cubic-bezier: cubic-bezier(.24,.26,.2,1);
}