@keyframes toastPullUp {
  from {transform: translateY(100%);}
  to {transform: none;}
}

@keyframes toastPullDown {
  from {transform: none;}
  to {transform: translateY(100%);}
}

.plasticToast {
  width: 400px;
  height: 60px;
  line-height: 60px;
  display: block;
  background-color: var(--stone-brightest);
  color: var(--stone-darkest);
  animation-name: toastPullUp;
  animation-duration: 0.25s;
  animation-timing-function: var(--cubic-bezier);
  user-select: none;
  cursor: default;
  position: fixed;
  bottom: 0;
  left: calc(50% - 200px);
}

.plasticToastTempRemove {
  animation-name: toastPullDown;
  animation-duration: 0.25s;
}

.plasticToast * {
  padding: 0;
  margin: 0;
  user-select: none;
}

.plasticToast h3 {
  font-weight: 600;
  padding-left: 20px;
  width: calc(400px - 20px - 60px);
  display: inline-block;
  user-select: none;
}

.plasticToast button {
  background-color: var(--accent);
  border: none;
  color: white;
  text-decoration: none;
  height: 60px;
  width: 60px;
  cursor: pointer;
  outline: none;
  vertical-align: top;
  transition-timing-function: var(--cubic-bezier);
  transition-duration: 0.125s;
  display: inline-block
}

.plasticToast button:hover {
  background-color: var(--accent-dark);
  transition-timing-function: var(--cubic-bezier);
  transition-duration: 0.125s;
}

.plasticToast button:active {
  background-color: var(--accent-bright);
  transition-timing-function: var(--cubic-bezier);
  transition-duration: 0.125s;
}

/* make it work on phones */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .plasticToast {
    width: 100%;
    left: calc(50% - calc(100% / 2));
  }
  .plasticToast h3 {
    width: calc(100% - 20px - 60px);
  }
}