@import url('colors.css');
@import url('normalize.css');
@import url('fonts/stylesheet.css');
@import url('tramSettings.css');

/* get ready for the wall of @import */
@import url('toast.css');
@import url('modal.css');
@import url('darkener.css');
@import url('progress.css');
@import url('button.css');

html {
  background-color: var(--stone-darkest);
  color: white;
  width: 100%;
  height: 100%;
  font-family: 'Aileron';
}

body {
  width: 100%;
  height: 100%;
}

a:link {
  color: var(--accent-brighter);
}

a:visited {
  color: var(--accent-brighter);
}

a:hover {
  color: var(--accent-brightest);
}

a:active {
  color: var(--accent-darker);
} 
.logoDisplay {
  width: 405px;
  height: 100%;
  background-color: var(--confetti);
  color: white;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bodyBlock {
  padding-left: 1.2em;
}

.productDisplay {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 405px;
  width: calc(100% - 405px);
  height: 100%;
  background-color: var(--stone-darkest);
  color: white;
}

.card {
  background-color: var(--stone-darker);
  margin: 0;
  padding: 1.2em;
  width: 512px;
  transition-duration: 0.25s;
  transition-timing-function: var(--cubic-bezier)
}

.hoverConfetti:hover {
  color: var(--confetti);
  background-color: var(--stone-print);
  cursor: pointer;
}

.hoverTangerine:hover {
  color: var(--tangerine);
  background-color: var(--stone-print);
  cursor: pointer;
}

.hoverFunk:hover {
  color: var(--funk);
  background-color: var(--stone-print);
  cursor: pointer;
}

.hoverJade:hover {
  color: var(--jade);
  background-color: var(--stone-print);
  cursor: pointer;
}

.hoverBittersweet:hover {
  color: var(--bittersweet);
  background-color: var(--stone-print);
  cursor: pointer;
}

.hoverCobalt:hover {
  color: var(--cobalt);
  background-color: var(--stone-print);
  cursor: pointer;
}

.hoverUFO:hover {
  color: var(--ufo);
  background-color: var(--stone-print);
  cursor: pointer;
}

.hoverClover:hover {
  color: var(--clover);
  background-color: var(--stone-print);
  cursor: pointer;
}

/* mobile reeeee */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .logoDisplay {
    width: 100%;
    height: 405px;
    background-color: var(--dreamsicle);
    color: white;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .bodyBlock {
    padding-left: 1.2em;
    padding-right: 1.2em;
  }
  
  .productDisplay {
    display: flex;
    align-items: center;
    position: absolute;
    top: calc(405px + 55px);
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--stone-darkest);
    color: white;
  }
  
  .card {
    background-color: var(--stone-darker);
    margin: 0;
    padding-left: 1.2em;
    padding-right: 1.2em;
    width: calc(100% - 2.4em);
    transition-duration: 0.25s;
    transition-timing-function: var(--cubic-bezier)
  }

  .magicMobileFixer {
    width: 100%;
    height: 23px;
  }
}

.logoDisplay button {
  background-color: var(--accent);
  border: none;
  color: white;
  text-decoration: none;
  height: 60px;
  width: 60px;
  cursor: pointer;
  outline: none;
  vertical-align: top;
  transition-timing-function: var(--cubic-bezier);
  transition-duration: 0.125s;
  margin-left: -1em;
}

.logoDisplay button:hover {
  background-color: var(--accent-dark);
  transition-timing-function: var(--cubic-bezier);
  transition-duration: 0.125s;
  margin-left: 0em;
}

.logoDisplay button:active {
  background-color: var(--accent-bright);
  transition-timing-function: var(--cubic-bezier);
  transition-duration: 0.125s;
}