/* PLASTIC CSS SETTINGS */

/* Colors */
:root {
  --accent: var(--confetti);
  --accent-brightest: var(--confetti-brightest);
  --accent-brighter: var(--confetti-brighter);
  --accent-bright: var(--confetti-bright);
  --accent-dark: var(--confetti-dark);
  --accent-darker: var(--confetti-darker);
  --accent-darkest: var(--confetti-darkest);
}

/* Animations */
:root {
  --cubic-bezier: cubic-bezier(.24,.26,.2,1);
}